/*
定数・変数
*/

/** ============================================================
 * Color
 * ========================================================== */
$CLR-BASE: #daecef;


/** ============================================================
 * Fonts
 * ========================================================== */
$FONT-BASE: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$FONT-BASE-SIZE: 100%;


/** ============================================================
 * Type
 * ジャンプ率 1：1.7：3.1
 * ========================================================== */
$FONT-SIZE-L: 1rem * 3.1;
$FONT-SIZE-M: 1rem * 1.7;
$FONT-SIZE-N: 1rem;
$FONT-SIZE-S: 1rem * .875;


/** ============================================================
 * 装飾
 * ========================================================== */
$BOX-SHADOW: 2px 2px 3px rgba(170,198,204,1);